
<div class="parallax-container">
	<div class="text">
      		<h1 class="parallax-header">Don't raise your voice</h1>
      		</br>
      		<h2 class="parallax-header">Improve Your Argument</h2>

      	</div>
      <div class="parallax"><img src="sea.jpg">	
      
      
      </div>
</div>

<div class="section">
    <div class="row container">
      <h2 class="header">Debating Society</h2>
      <p class="grey-text text-darken-3 lighten-3">
      	Jean shorts pabst cillum man braid art party sartorial kombucha culpa ut lumbersexual shabby chic craft beer mixtape. Man bun cupidatat godard, af succulents tempor activated charcoal. Tumblr cronut truffaut asymmetrical farm-to-table. Art party sartorial marfa chillwave. Marfa dreamcatcher adaptogen put a bird on it readymade cray. Quinoa truffaut excepteur meh. Mixtape biodiesel quinoa culpa cupidatat. Organic locavore 3 wolf moon in deep v +1, echo park chambray magna biodiesel godard everyday carry try-hard qui. Seitan hell of sed everyday carry typewriter ut wolf hexagon polaroid messenger bag irure meh banh mi af. Est adipisicing eiusmod, veniam jianbing neutra hoodie raclette small batch bushwick readymade. Adaptogen man braid health goth raclette. Irony paleo fixie fashion axe venmo photo booth sunt proident hoodie.
      	</p>
    </div>
  </div>


